.container {
    width: 80%;
    margin: 0 auto;
    background-color: grey;
    overflow: auto;
    position: relative;
}

.line{
    height:100%;
    width:5px;
    background:blue;
    margin:0px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.timeline-item {
    height: 200px;
    width: 200px;
    background-color: red;
    clear: both;
}

.timeline-item_right {
    float: right;
}

.timeline-item_left {
    float: left;
}